html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
}

ul {
  list-style-type: none;
  margin-bottom: 0px;
}

li {
  display: inline;
  border: 1px solid black;
  padding-bottom: 20px;
}

#bootstrap-overrides {
  color: inherit;
  text-decoration: none;
}

.nav-tabs {
  text-decoration: none;
}

.active {
  background-color: white;
}

.panel {
  background-color: white;
}

.templates {
  width: 100%;
}

.nav-head {
  text-decoration: none;
}

.left-nav {
  background-color: #313744;
  color: #D5DDE0;
  left: 0;
  width: 30%;
  padding: 25px;
}

.mailboxes {
  background-color: #F6F5F3;
  color: #44424C;
}
