html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
}

.left-nav {
  background-color: #313744;
  color: #D5DDE0;
  left: 0;
  width: 30%;
  padding: 25px;
}

.mailboxes {
  /*display: block;*/
  background-color: #F6F5F3;
  color: #44424C;
  right: 0;
  width: 100%;
}
