<div class="mailboxes">
 <section ng-controller="PanelController as panel">
  <ul class="nav-tabs">
    <li ng-class="{ active: panel.isSelected(1) }">
      <a href ng-click="panel.selectTab(1)">Messages</a>
    </li>
    <li ng-class="{ active: panel.isSelected(2) }">
      <a href ng-click="panel.selectTab(2)">Failed</a>
    </li>
  </ul>

  <div class="panel" ng-show="panel.isSelected(1)">
    <h1>Messages</h1>
    <p>Description</p>
  </div>

  <div class="panel" ng-show="panel.isSelected(2)">
    <h1>Failed</h1>
    <p>Description</p>
  </div>
</div>
